html,
body {
  height: 100%;
}

body {
  font: 500 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 0rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}

a {
  color: inherit;
}

.container {
  display: table;
  width: 100%;
  height: 100%;
}

.interior {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn {
  background-color: #fff;
  padding: 1em 3em;
  border-radius: 3px;
  text-decoration: none;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window .header div{
	    overflow: auto;
		height: 100%;
}
.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
      width: 85%;
    height: 85%;
  position: relative;
  margin: 2% auto;
    padding: 3rem 0rem 0.5rem 1rem;
  background: rgb(201, 255, 208);
  color: #444;
  overflow: auto;
  font: 300 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  border: 1px solid #ccc;
}

.modal-window header {
  font-weight: bold;
}

.modal-window .header > h2 {
    padding: 0;
    position: absolute;
    top: 2%;
    margin: 0 22%;
}
.modal-close {
  color: rgb(0, 0, 0);
  line-height: 50px;
  font-size: 80%;
    font-weight: bold;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: rgb(247, 10, 10);
}

.modal-window h1 {
  font-size: 100%;
  margin: 0 0 15px;
}
